# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables file
.env

# VSCode settings folder
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Python compiled files
*.pyc

# Any other sensitive files or folders you want to ignore
